= simple_form_for @order, html: { multipart: true } do |f|
  - if @order.errors.any?
    #errors
      %p
        = @order.errors.count
        Prevented this order froms saving
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
  .panel-body
    = f.input :fullName, input_html: { class: 'form-control' }
    = f.input :numTel, input_html: { class: 'form-control' }
    = f.input :address, input_html: { class: 'form-control' }
    = f.input :license, input_html: { class: 'form-control' }
    = f.input :numAuto, input_html: { class: 'form-control' }
    = f.input :year, input_html: { class: 'form-control' }
    = f.input :scope, input_html: { class: 'form-control' }
    = f.input :dateOrder, input_html: { class: 'form-control' }

    = f.button :submit, class: 'btn btn-primary'
