= image_tag @order.image.url(:medium, class: 'order_image')
%p= @order.fullName
%p= @order.numTel
%p= @order.address
%p= @order.license
%p= @order.carBrand
%p= @order.numAuto
%p= @order.year
%p= @order.scope
%p= @order.dateOrder
%p= @order.dateStart
%p= @order.dateEnd
%p= @order.box

= link_to 'Back', root_path, class: 'btn btn-default'
= link_to 'Edit', edit_order_path, class: 'btn btn-default'
= link_to 'Delete', order_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'
